<div class="page-title">
    <h3>
        Add New Employee
        <a href="employee-list.html" class="btn btn-sm btn-outline-info float-end me-1"><i class="fas fa-angle-left"></i> <span class="btn-header">Return</span></a>
    </h3>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Add new employee here</div>
            <div class="card-body">

                <form accept-charset="utf-8">
                    <div class="mb-3">
                        <label for="email" class="form-label">First Name</label>
                        <input type="email" name="email" placeholder="First Name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Last Name</label>
                        <input type="email" name="email" placeholder="Last Name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" placeholder="Email Address" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Gender</label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Age</label>
                        <input type="number" name="email" placeholder="18" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <input value="Save" type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>